body{
	font-family: BNazanin;
}

@font-face {
    font-family: BNazanin;
    src: url(../fonts/sansation_light.woff);
}

section {
	margin-left: auto;
	margin-right:auto;
	width: 98%;
	overflow: hidden;
}

#clk {
	float: left;
	font-size: 18px;
	margin-top: 10px;
	margin-left:10px;
	border: medium;
	position: fixed;
    bottom: 150;
    right: 150;
    right: 150;
    width: 300px;
}

#header{
	margin-top: 20px;
	margin-bottom: 8px;
	border-bottom: solid 2px darkgray;
	overflow: hidden;
}

#header > div{
	display: inline-block;
	height: 100 px;
}

#logo-div {
    margin: 0px 4px 0px 0px;
    float: left;
}

#title {
	text-align: center !important;
	overflow: hidden;
	margin-right: 0px; 
	margin-left: 0px;
	width: 80%;
	height: 120px;
	color: #1F607C;
	font-family: BNazanin;
}

#title-page {

	text-align: right;
	font-family: BNazanin;
	margin-right: 15px;
	padding-right: 20px;
	color: #1F607C;


}

#info {
	float: right;
	text-align: right;
	text-orientation: right;
	font-size: 20px;
	height: 75px !important;
	margin-top: 10px;
	font-family: BNazanin;
	width: 11%;
}


#footer{
	margin-top: 35%;
	margin-bottom: 20px;
	border-top: solid 2px darkgray;
	overflow: hidden;
	text-align: right;
	font-family: BNazanin;
	border-bottom: solid 2px darkgray;
}

#table-sec {

	margin-top: 40px;
	margin-left: 160px;
	font-family: BNazanin;

}

#table-div {
	overflow-x:auto;	
}

#courses-table {

	text-align: center;
	font-family: BNazanin;

}

#add-course {
	font-family: BNazanin;
	text-align: center;
	margin-top: 50px;
	margin-left: 10px;
	color: #004A80;

}

#btn-modal-left {
	background-color: gray;
	float: left;
	color: white;

}

#btn-modal-right {
	background-color: #004A80;
	color: white;
	float: right;

}



