body{
	/*text-align: center;*/
	font-family: BNazanin;
}

@font-face {
    font-family: BNazanin;
    src: url(../fonts/sansation_light.woff);
}

section {
	margin-left: auto;
	margin-right:auto;
	width: 98%;
	font: message-box;
	overflow: hidden;
}

#clk {
	float: right;
	text-align: right;
	position: absolute;
	top:15px;
	bottom: 20px;
	right: 10px;
	font-size: 18px;
	margin: 10px 10px 10px 10px;
	width: 118px;
	height: 110px;
	border: medium;
}

#date-location { 
	float: right;
	position: absolute; 
	margin: 10px 10px 10px 10px;
	right: 10px; 
	top: 75px; 
	text-align: right; 
}

.date-font { 
	font: 17px BNazanin; 
}

#logo-div {
    margin: 0px 4px 0px 0px;
    float: left;
}

#title {
	text-align: center !important;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 0px;
	left: 0px;
	margin-right: auto; 
	margin-left: auto;
	width: 1100px;
	height: 120px;
	color: #1F607C;
	font-family: BNazanin;
	font-size: 20px;
	display: block;
}

#header{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 2px darkgray;
	overflow: hidden;
}

#header > div{
	display: inline-block;
	height: 100 px;
}

#login-div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

#login-title {
	text-align: center;
	font-family: BNazanin;
	color:#1E3C59;
}

input[type=text], input[type=password] {
	width: 95%; 
	margin-bottom: 10px;
	text-align: right; 
	background: rgba(0,0,0,0);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: gray;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

/* Set a style for all buttons */
button {
    background-color: #17649B;
    float: right;
    color: white !important;
    font-size: 13px;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.9;
}

#remember-div {
	margin-top: 30px !important;
	float: right;
	margin-right: 25px;
}

input[type = checkbox] {
	margin-left: 20px;
	font-size: 10px;
	font-color: red;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.login-div {
    padding: 10px;
}

#forgotpass-div {
	margin-left: 100px;
	float: right;
	text-align: right;
}

/* The "Forgot password" text */
span.psw {
    margin-top: 30px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

#footer{
	margin-top: 47%;
	margin-bottom: 20px;
	border-top: solid 2px darkgray;
	overflow: hidden;
	text-align: right;
	font-family: BNazanin;
	border-bottom: solid 2px darkgray;
}