body{
	font-family: BNazanin;
}

@font-face {
    font-family: BNazanin;
    src: url(../fonts/sansation_light.woff);
}

section {
	margin-left: auto;
	margin-right:auto;
	width: 98%;
	overflow: hidden;
}

#clk {
	float: left;
	font-size: 18px;
	margin-top: 10px;
	margin-left:10px;
	border: medium;
	position: fixed;
    bottom: 150;
    right: 150;
    right: 150;
    width: 300px;
}

#header{
	margin-top: 20px;
	margin-bottom: 8px;
	border-bottom: solid 2px darkgray;
	overflow: hidden;
}

#header > div{
	display: inline-block;
	height: 100 px;
}

#logo-div {
    margin: 0px 4px 0px 0px;
    float: left;
}

#title {
	text-align: center !important;
	overflow: hidden;
	margin-right: 0px; 
	margin-left: 0px;
	width: 80%;
	height: 120px;
	color: #1F607C;
	font-family: BNazanin;
}

#info {
	float: right;
	text-align: right;
	text-orientation: right;
	font-size: 20px;
	height: 75px !important;
	margin-top: 10px;
	font-family: BNazanin;
	width: 11%;
}

#features {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.container{ 
	background-color: #076185;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px; 
	text-align: center !important;
	vertical-align: center;
	padding: 20px 20px 20px 20px;
	width: 35% !important;
	font-family: BNazanin;
}

#add-btn {
    background-color: transparent !important;
    /*margin-top: 30px !important;*/
    /*margin-bottom: 40px !important;*/
    color: white !important;
    font-size: 35px !important;
    /*padding: 14px 20px;*/
    /*margin: 20px 0;*/
    border: transparent !important;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
    box-shadow: none !important;
}

#footer{
	margin-top: 15
	%;
	margin-bottom: 20px;
	border-top: solid 2px darkgray;
	overflow: hidden;
	text-align: right !important;
	font-family: BNazanin;
	border-bottom: solid 2px darkgray;
}

#glyph{
	color: white !important;
}

#form-div {
	margin-left: auto;
	margin-right: auto;
	font-family: BNazanin;
	font-size: 20px;
}

#form-title {
	text-align: center;
	font-family: BNazanin;
	color:#1E3C59;
	margin-top: 35px;
}

input[type=text]{ 
	text-align: right; 
	margin-top: 25px;
	width: 25%;
	background: rgba(0,0,0,0);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 15px;
	color: gray;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}

.modal-title {
	font-size: 20px;
	text-align: center !important;
}

#add-course {
	font-family: BNazanin;
	text-align: center;
	margin-right: auto !important;
	margin-left: auto !important;
	margin-bottom: 50px;
	margin-top: 35px;
}

#btn-modal-left {
	background-color: gray;
	float: left;
	color: white;
}

#btn-modal-right {
	background-color: #004A80;
	color: white;
	float: right;
}

#create-btn {
	background-color: #004A80; 
}