

	<section id = "change-info">
		<form action="action.php">
			<div id = "form-div">
				<h1 id = "form-title">ویرایش اطلاعات شخصی</h1>
				<section id = "form-elements">
					<div id = "name-div"><input type = "text" placeholder = "نام" name = "name"><!--  :نام --></div>
					<div id = "sname-div"><input type = "text" placeholder = "نام خانوادگی" name = "sname"><!--  :نام خانوادگی --></div>
					<div id="psw-div"><input type = "password" placeholder = "رمز عبور" name = "psw"><!--  : رمز عبور --></div>
					<div id="confirm-psw-div"><input type = "password" placeholder = "تکرار رمز عبور" name = "psw"><!--  : تکرار رمز عبور --></div>
				</section>	
				<button type = "submit">اعمال تغییرات</button>
			</div>
		</form>
	</section>
