

	<section id = "view-list">
		<form action="action.php">
			<div id = "form-div">
				<h1 id = "form-title">افزودن/ویرایش درس جدید برای ترم جاری</h1><br>
				<section id = "form-elements">
					<div id = "name-div">
                        <select name="group-type">
                            <option value="select">انتخاب کنید</option>
                            <option value="software">مهندسی اینترنت</option>
                            <option value="hardware">مهندسی نرم‌افزار ۱</option>
                            <option value="hardware">مهندسی نرم‌افزار ۲</option>
                        </select> : نام درس
                    </div>
					<div id = "lecturetime-div"><input type = "text" placeholder = "روز و ساعت ارائه" name = "sname"><!--  :نام خانوادگی --></div>
					<div id = "examdate-div"><input type = "text" placeholder = "تاریخ امتحان" name = "sname"><!--  :نام خانوادگی --></div>
					<div id = "description-div"><input type = "text" placeholder = "ملاحظات" name = "sname"><!--  :نام خانوادگی --></div>
				</section>	
				<button type = "submit">اعمال تغییرات</button>
			</div>
		</form>
	</section>

	<section id = "title-page">
		<h3><b>:دروس اضافه شده</b></h3>
	</section>

	<section id = "table-sec">
		<div id = "table-div" >
		<style>
			table, th, td {
		    	border: 1px solid black;
		    	text-align: center;
			}
			th, td {
		    	padding: 10px;
		    	text-align: center;
			}
			th {
		    	background-color: #175076;
		    	color: white;
			}
		</style>

	<table id = "courses-table" style="width:75%">
	  <tr>
	    <th>ملاحظات</th>
	   	<th>تاریخ و ساعت امتحان</th> 
	    <th>روز و ساعت ارائه</th> 
	    <th>استاد درس</th> 
	    <th>نام درس</th> 
	    <th>کد درس</th>
	    <th>ردیف</th>

	  </tr>
	  <tr>
	    <td>پاس کردن حداقل ۱۰۰ واحد</td>
	   	<td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>کارآموزی</td> 
	    <td>۴۳-۱۱-۲۷۲۸</td>
	    <td>۱</td>
	  </tr>
	  <tr>
	    <td>پاس کردن حداقل ۱۰۰ واحد</td>
	   	<td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>کارآموزی</td> 
	    <td>۴۳-۱۱-۲۷۲۸</td>
	    <td>۱</td>
	  </tr>
	  <tr>
	    <td>پاس کردن حداقل ۱۰۰ واحد</td>
	   	<td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>کارآموزی</td> 
	    <td>۴۳-۱۱-۲۷۲۸</td>
	    <td>۱</td>
	  </tr>

	  <tr>
	  	<td>پاس کردن حداقل ۱۰۰ واحد</td>
	   	<td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>کارآموزی</td> 
	    <td>۴۳-۱۱-۲۷۲۸</td>
	    <td>۱</td>
	  </tr>

	  <tr>
	  	<td>پاس کردن حداقل ۱۰۰ واحد</td>
	   	<td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>ندارد</td> 
	    <td>کارآموزی</td> 
	    <td>۴۳-۱۱-۲۷۲۸</td>
	    <td>۱</td>
	  </tr>
	</table>

