

	<section id = "title-page">

		<h3><b>:کارنامه‌های دانشجو</b></h3>
		
	</section>


	<section id = "generalreport-sec">
		<table id = "table-genreport">
			<tr>
			    <td>۱۶.۵۰</td>
			    <th>معدل کل</th>

			 </tr>
			 <tr>
			    <td>۱۰۱</td>
			    <th>تعداد واحد گذرانده</th>
			 </tr>
			 <tr>
			    <td>۱۴.۶۰</td>
			    <th>معدل دانشکده</th>
			 </tr>
		</table>
	</section>


	<div class="container">

	 <div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> انتخاب ترم
	    <span class="caret"></span></button>
	    <ul id = "text-dropdown" class="dropdown-menu">
	      <li><a href="#">ترم ۱</a></li>
	      <li><a href="#">ترم ۲</a></li>
	      <li><a href="#">ترم ۳</a></li>
	    </ul>
	  </div>
	</div>

	<div id = "report-div">

		<h4> :ریز نمرات دانشجو در ترم </h4>
		<table id = "table-report">
		  <tr>
		  	<th>تعداد واحد درس</th>
		  	<th>وضعیت قبولی</th>
		    <th>نمره اخذ شده</th>
		    <th>نام درس</th>
		    <th>کد درس</th>
		  </tr>
		  <tr>
		  	<td>۲</td>
		  	<td>قبول</td>
		    <td>۱۷.۷۵</td>
		    <td>کارآموزی</td>
		    <td>۴۳.۱۱.۱۱۰.۱</td>
		  </tr>
		  <tr>
		  	<td>۳</td>
		  	<td>قبول</td>
		    <td>۱۵.۲۵</td>
		    <td>مهندسی اینترنت</td>
		    <td>۴۳.۱۱.۱۳۱.۱</td>
		  </tr>

		</table>
	</div>

	<div id = "termrep-div">
			<h4> :معدل دانشجو در این ترم </h4> <br/>

				<table id = "table-termreport">
			<tr>
			    <td>۱۷.۵۴</td>
			    <th>معدل دانشجو در این ترم</th>

			 </tr>
			 <tr>
			    <td>۱۹</td>
			    <th>تعداد واحد گذرانده این ترم</th>
			 </tr>
			 <tr>
			    <td>۱۴.۶۰</td>
			    <th>معدل دانشکده در این ترم</th>
			 </tr>
		</table>

	</div>


