
	<section id = "view-list">
		<form action="action.php">
			<div id = "form-div">
				<h1 id = "form-title">مشاهده‌ی لیست دانشجویان</h1><br>
				<section id = "form-elements">
					<div id = "name-div">
                        <select name="group-type">
                            <option value="select">انتخاب کنید</option>
                            <option value="software">مهندسی اینترنت</option>
                            <option value="hardware">مهندسی نرم‌افزار ۱</option>
                            <option value="hardware">مهندسی نرم‌افزار ۲</option>
                        </select> : نام درس
                    </div>
					<div id = "code-div"><input type = "text" placeholder = "کد درس" name = "sname"><!--  :نام خانوادگی --></div><br>
					<p>.لطفاً از بین کد درس یا نام درس، یکی را انتخاب نمایید</p>
				</section>	
				<button type = "submit">مشاهده‌ی لیست</button>
			</div>
		</form>
	</section>

	<section id = "table-sec">
	<div id = "table-div" >
		<style>
		table, th, td {
		    border: 1px solid black;
		    text-align: center;
		}
		th, td {
		    padding: 10px;
		    text-align: center;
		}
		th {
		    background-color: #175076;
		    color: white;
		}
		</style>

	<table id = "courses-table" style="width:75%">
	  	<tr>
	    	<th>نمره</th>
	    	<th>نام و نام خانوادگی دانشجو</th> 
	    	<th>شماره‌ی دانشجویی</th>
	    	<th>ردیف</th>
	  	</tr>

	  	<tr>
	    	<td></td>
	    	<td>مهرشید فدائی‌نژاد</td>
	    	<td>۹۲۲۱۳۲۳۸</td>
	   		<td>۱</td>
	  	</tr>

	  	<tr>
	    	<td></td>
	    	<td>آریان بهشت‌نژاد</td>
	    	<td>۸۹۲۱۲۱۲۱</td>
	    	<td>۲</td>
	  	</tr>

	  	<tr>
	    	<td></td>
	    	<td>یاسمن روحانی‌فر</td>
	    	<td>۹۲۲۱۳۰۹۹</td>
	   		<td>۳</td>
	  	</tr>

	  	<tr>
	  		<td> </td>
	  		<td> </td>
	  		<td> </td>
	  		<td> ۴ </td>
	  	</tr>

	  	<tr>
	  		<td> </td>
	  		<td> </td>
	  		<td> </td>
	  		<td> ۵ </td>
	  	</tr>
	</table><br><br>

	</div>
	</section>
