

	<section id = "view-list">
		<form action="action.php">
			<div id = "form-div">
				<h1 id = "form-title">مشاهده‌ی لیست دانشجویان</h1><br>
				<section id = "form-elements">
					<div id = "name-div">
                        <select name="group-type">
                            <option value="select">انتخاب کنید</option>
                            <option value="software">مهندسی اینترنت</option>
                            <option value="hardware">مهندسی نرم‌افزار ۱</option>
                            <option value="hardware">مهندسی نرم‌افزار ۲</option>
                        </select> : نام درس
                    </div><br>
					<div id = "code-div"><input type = "text" placeholder = "کد درس" name = "sname"><!--  :نام خانوادگی --></div><br>
					<p>.لطفاً از بین کد درس یا نام درس، یکی را انتخاب نمایید 
				</section>	
				<button type = "submit">مشاهده‌ی لیست</button>
			</div>
		</form>
	</section>
